/*----- 20. Cart page  -----*/


.cart-main-area {
    min-height: 85vh;
    font-size: 0.9rem;
    display: flex;
    align-items: center;

    @media #{$xs-layout}{
        &.pb-100 {
            padding-bottom: 60px;
        }
    }
}
h3.cart-page-title {
    font-weight: 500;
    margin: 0 0 15px;
}

.cart-table-content {
    table {
        border: 1px solid #ebebeb;
        white-space: normal;
        width: 100%;
        thead > tr {
            background-color: #f9f9f9;
            border: 1px solid #ebebeb;
            th {
                border-top: medium none;
                color: $dark;
                font-weight: 500;
                padding:.3rem 0 0.3rem 1rem;
                text-align: center;
                text-transform: uppercase;
                vertical-align: middle; 
                white-space: nowrap;
            }
        }
        tbody > tr {
            border-bottom: 1px solid #ebebeb;
            td.product-thumbnail {
                min-width: 4rem;
                max-width: 8rem;
                a {
                    img {
                        border-radius: 0.2rem !important;
                        object-fit: cover;
                        height: 7rem;
                        width: 100%;
                    }
                }
            }
            td.product-name {
                text-align: left;
                min-width: 6rem;
                a {
                    color: $dark;
                    font-weight: 500;
                    &:hover {
                        color: $theme-color;
                    }
                }
            }
            td.product-price-cart {
                max-width: 4rem;
                span {
                    font-weight: 500;
                    color: $dark;
                }
                del {
                    color: #8e8e8e;
                }
            }
            td.product-subtotal {
                min-width: 2.5rem;
                font-weight: 500;
                color: $dark;
            }
            td.product-quantity {
                @media #{$xs-layout} {
                    .cart-plus-minus {
                        display: flex !important;
                        flex-direction: column;
                        border: 1px solid #e5e5e5;
                        align-items: center;
                        width: 2.5rem !important;
                        border-radius: .2rem;
                        .dec.qtybutton {
                            border-right: none !important;
                            border-top: 1px solid #e5e5e5 !important;
                            order: 3;
                        }
                        .inc.qtybutton {
                            border-left: none !important;
                            border-bottom: 1px solid #e5e5e5 !important;
                        }
                        .qtybutton {
                            position: relative !important;
                            width: 100% !important;
                        }
                        input.cart-plus-minus-box {
                            border: none !important;
                            height: 0.8rem !important;
                            order: 2;
                        }
                    }

                }
                .cart-plus-minus {
                    display: inline-block;
                    padding: 0;
                    position: relative;
                    margin-top: .2rem;
                    width: clamp(4.175rem, -0.1786rem + 3.5714vw, 4.5rem);
                    .qtybutton {
                        color: $dark;
                        cursor: pointer;
                        float: inherit;
                        margin: 0;
                        position: absolute;
                        transition: all 0.3s ease 0s;
                        width: 20px;
                        text-align: center;
                        top: 0;
                        height: 2rem;
                    }
                    .dec.qtybutton {
                        border-right: 1px solid #e5e5e5;
                        left: 0;
                    }
                    .inc.qtybutton {
                        border-left: 1px solid #e5e5e5;
                        right: 0;
                    }
                    input.cart-plus-minus-box {
                        color: $dark;
                        float: left;
                        height: 2rem;
                        margin: 0;
                        width: 110px;
                        background-color: transparent;
                        border: 1px solid #e1e1e1;
                        padding: 0;
                        text-align: center;
                    }
                }
            }
            td.product-remove {
                button {
                    color: #666;
                    margin: 0 13px;
                    &:hover {
                        color: $theme-color;
                    }
                }
            }
            td.product-wishlist-cart > button {
                background-color: $theme-color;
                border-radius: 50px;
                color: $white;
                font-weight: 500;
                line-height: 1;
                padding: 10px 15px;
                text-transform: uppercase;
                &:hover {
                    background-color: $dark;
                }
            }
            td {
                color: $dark;
                padding: 1rem 0 1rem 1rem;
                text-align: center;
            }
        }
    }
}

.cart-shiping-update-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0 1rem;
    @media #{$xs-layout} {

    }
    .cart-shiping-update > a,
    .cart-shiping-update > button,
    .cart-clear > button,
    .cart-clear > a {
        background-color: #f2f2f2;
        border-radius: 50px;
        color: #363f4d;
        display: inline-block;
        font-weight: 500;
        line-height: 1;
        padding: 18px 63px 17px;
        text-transform: uppercase;
        @media #{$md-layout} {
            padding: 18px 25px 17px;
        }
        @media #{$xs-layout} {
            padding: 18px 40px 17px;
            margin: 0 0 0.4rem;
        }
        &:hover {
            background-color: $theme-color;
            color: $white;
        }
    }
    .cart-clear > button {
        text-align: right;
        border: medium none;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        @media #{$md-layout} {
            margin-right: 15px;
        }
    }
}

.cart-tax,
.discount-code-wrapper {
    background-color: #f9f9f9;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    padding: 45px 30px 50px;
    @media #{$lg-layout} {
        padding: 45px 18px 50px;
    }
    @media #{$xs-layout} {
        padding: 45px 18px 50px;
    }
    .title-wrap {
        position: relative;
        &::before {
            background-color: #e3e1e1;
            content: "";
            height: 1px;
            left: 0;
            position: absolute;
            top: 10px;
            transition: all 0.4s ease 0s;
            width: 100%;
            z-index: 1;
        }
        h4.cart-bottom-title {
            display: inline-block;
            font-weight: 500;
            margin: 0;
            padding-right: 18px;
            @media #{$lg-layout} {
            }
        }
        .section-bg-gray {
            background-color: #f8f9f9;
            position: relative;
            z-index: 99;
        }
    }
    .tax-wrapper {
        margin-top: 22px;
        p {
            margin: 0;
        }
        .tax-select-wrapper {
            margin: 5px 0 0;
            .tax-select {
                margin: 0 0 26px;
                label {
                    color: #242424;
                    margin: 0 0 5px;
                }
                select {
                    -moz-appearance: none;
                    -webkit-appearance: none;
                    background: #fff url("/img/icon-img/cart.png") no-repeat scroll right 18px center;
                    border: 1px solid #ebebeb;
                    box-shadow: none;
                    color: #242424;
                    height: 40px;
                    padding: 0 50px 0 15px;
                    width: 100%;
                    cursor: pointer;
                }
                input {
                    background: #fff none repeat scroll 0 0;
                    border: 1px solid #ebebeb;
                    height: 40px;
                }
            }
            button.cart-btn-2 {
                background-color: $theme-color;
                border: medium none;
                border-radius: 50px;
                color: $white;
                cursor: pointer;
                font-weight: 500;
                padding: 13px 42px 12px;
                text-transform: uppercase;
                transition: all 0.3s ease 0s;
                &:hover {
                    background-color: $dark;
                }
            }
        }
    }
    .discount-code {
        margin: 21px 0 0;
        p {
            margin: 0 0 15px;
        }
        form {
            input {
                background: #fff;
                border: 1px solid #ebebeb;
                height: 40px;
                margin-bottom: 30px;
                padding-left: 10px;
            }
            button.cart-btn-2 {
                background-color: $theme-color;
                border: medium none;
                border-radius: 50px;
                color: $white;
                cursor: pointer;
                font-weight: 500;
                padding: 13px 42px 12px;
                text-transform: uppercase;
                transition: all 0.3s ease 0s;
                &:hover {
                    background-color: $dark;
                }
            }
        }
    }
}

.grand-total {
    background-color: #f9f9f9;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    padding: 45px 30px 50px;
    @media #{$lg-layout} {
        padding: 45px 18px 50px;
    }
    @media #{$md-layout} {
        margin-top: 30px;
    }
    .title-wrap {
        position: relative;
        &::before {
            background-color: #e3e1e1;
            content: "";
            height: 1px;
            left: 0;
            position: absolute;
            top: 0.6rem;
            transition: all 0.4s ease 0s;
            width: 100%;
            z-index: 1;
        }
        h4.cart-bottom-title {
            display: inline-block;
            font-weight: 500;
            margin: 0;
            padding-right: 18px;
        }
        .section-bg-gary-cart {
            background-color: #f9f9f9;
            position: relative;
            z-index: 9;
        }
    }
    h5 {
        margin: 36px 0 27px;
        span {
            font-size: 0.5rem;
            float: right;
            font-weight: 500;
        }
    }
    .total-shipping {
        border-bottom: 1px solid #ebebeb;
        border-top: 1px solid #ebebeb;
        margin: 0 0 27px;
        padding: 28px 0;
        h5 {
            margin: 0;
        }
        ul {
            padding: 19px 0 0 0px;
            li {
                color: #242424;
                list-style: outside none none;
                margin: 0 0 6px;
                &:last-child {
                    margin: 0 0 0px;
                }
                input {
                    background: #e9e9e9 none repeat scroll 0 0;
                    border: 1px solid #d7d7d7;
                    border-radius: 5px !important;
                    color: #626262;
                    cursor: pointer;
                    height: 13px;
                    margin-right: 10px;
                    padding: 0;
                    position: relative;
                    top: 2px;
                    width: 13px;
                }
                span {
                    float: right;
                }
            }
        }
    }
    h4.grand-total-title {
        color: $theme-color;
        font-weight: 500;
        margin: 0 0 25px;
        span {
            font-size: 0.5rem;
            float: right;
        }
    }
    a {
        background-color: $theme-color;
        border-radius: 50px;
        color: $white;
        display: block;
        font-weight: 500;
        line-height: 1;
        padding: 18px 10px 17px;
        text-align: center;
        text-transform: uppercase;
        &:hover {
            background-color: $dark;
        }
    }
}

.discount-code-wrapper {
    @media #{$xs-layout} {
        margin: 30px 0;
    }
    
}

.empty-cart {
    .icon {
        font-size: 140px;
    }
    h4 {
        padding: 15px 0;
    }
    &__button {
        border: none;
        background-color: #404040;
        color: $white;
        display: inline-block;
        font-weight: 500;
        line-height: 1;
        padding: 15px 30px;
        &:hover {
            color: $white;
            background-color: $theme-color;
        }
    }
}