// write your custom scss/css here
@media #{$xs-layout} {
    .policy-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        justify-items: start;

        h5 {
            grid-area: 1 / 2 / 2 / 4;
            font-weight: 600;
        }
        p {
            text-align: left;
            width: 100% !important;
            grid-area: 2 / 1 / 3 / 4;
        }
    }
}