// Font Family
$poppins: 'Poppins', sans-serif;
$abrilfatface: 'Abril Fatface', cursive;
$cormorantgaramond: 'Cormorant Garamond';
$greatvibes: 'Great Vibes', cursive;
$lobster: 'Lobster', cursive;
$josefin: 'Josefin Sans', sans-serif;

// text Colors ---------------
$white: #ffffff;
$black: #000000;
$grey: #f6f7f8;
$red: #f00;
$green: #f6f7f8;
$dark: #333333;
$paragraph: #666666;

// bg Colors ---------------
$bg-white: #ffffff;
$bg-black: #000000;
$bg-grey: #f6f6f8;
$bg-purple: #f0e0ff;

// Heading Color
$heading-color: $black;

// Theme Color
$theme-color: #a749ff;

// Responsive Variables 
$xx-layout: 'only screen and (min-width: 1366px) and (max-width: 1600px)';
$xl-layout: 'only screen and (min-width: 1200px) and (max-width: 1365px)';
$lg-layout: 'only screen and (min-width: 992px) and (max-width: 1199px)';
$md-layout: 'only screen and (min-width: 768px) and (max-width: 991px)';
$sm-layout: 'only screen and (min-width: 576px) and (max-width: 767px)';
$xxs-layout: 'only screen and (min-width: 360px) and (max-width: 479px)';
$xs-layout: 'only screen and (max-width: 767px)';


$accordion-padding-y:                     0.4rem;
$accordion-padding-x:                     1rem;

$accordion-border-width:                  0.2rem;
$accordion-border-color:                  rgba(0, 0, 0, 0.125); 
$accordion-border-radius:                 0.2rem;
$accordion-inner-border-radius:           $accordion-border-radius - $accordion-border-width; 

$accordion-body-padding-y:                $accordion-padding-y;
$accordion-body-padding-x:                $accordion-padding-x;

$accordion-button-padding-y:              $accordion-padding-y;
$accordion-button-padding-x:              $accordion-padding-x;
$bs-accordion-border-width:               0.02rem;


$accordion-icon-width:                    .6rem;


$bs-btn-font-size:                        .4rem;



